### Tidy the GEFCom2012 dataset
From 3 file, load_raw.csv, n034_ensemble.csv and temp.csv create the complete.csv file. Use value from ensemble prediction to impute missing value in load_raw, and add temperature values from temp.csv to the final complete dataframe.

#### Read data from csv file

In [1]:
library(tidyr)
library(dplyr)
library(lubridate)

loadRawFile = "GEFCom2012/load_raw.csv"
tempRawFile = "GEFCom2012/temp.csv"
ensemblePredictionFile = "GEFCom2012/n034_ensemble.csv"

#Define a class num.with.commas to probably transform string with comma to number
setClass("num.with.commas")
setAs("character", "num.with.commas", 
        function(from) as.numeric(gsub(",", "", from) ) )

loadRawClasses = c('factor', rep("numeric", 3), rep("num.with.commas", 24))

df = read.csv(loadRawFile, stringsAsFactors=FALSE, colClasses=loadRawClasses)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

#### Tidy loadraw GEFCom2012 data

In [45]:
tidyLoadDf = df %>%  gather(Hour, Consumption, h1:h24) %>%
                 mutate(Hour=as.numeric(substr(Hour, 2, nchar(Hour)))-1) %>%
                 unite(Date, year, month, day, sep='-') %>%
                 unite(DateTime, Date, Hour, sep=' ') %>%
                 mutate(DateTime=as.POSIXct(strptime(DateTime, "%Y-%m-%d %H", tz = "GMT"))) %>%
                 arrange(DateTime, zone_id)

In [46]:
#Spead consumption for each zone into seperate columns, so that we can easily select consumption for each zone later
tidyLoadDf = tidyLoadDf %>% mutate(zone_id=paste0('zone.',as.character(zone_id))) %>%
                      spread(zone_id, Consumption, fill = NA, convert = FALSE)
#Remove 2008/June data, because it's not complete, Create Zone 21 as sum of 20 zones consumption
tidyLoadDf = tidyLoadDf %>% filter(DateTime<as.POSIXct(strptime("2008-06-01 00:00:00", "%Y-%m-%d %H:%M:%S")))
#Add total consumption to zone.21
tidyLoadDf %>% select(zone.1:zone.20) %>% rowSums(na.rm=TRUE) -> tidyLoadDf$zone.21

#### Tidy ensemble prediction GEFCom2012 data

In [47]:
ensembleClasses = c('NULL', 'factor', rep("numeric", 27))
df = read.csv(ensemblePredictionFile, stringsAsFactors=FALSE, colClasses=ensembleClasses)
tidyEnsembleDf = df %>%  gather(Hour, Consumption, h1:h24) %>%
                 mutate(Hour=as.numeric(substr(Hour, 2, nchar(Hour)))-1) %>%
                 unite(Date, year, month, day, sep='-') %>%
                 unite(DateTime, Date, Hour, sep=' ') %>%
                 mutate(DateTime=as.POSIXct(strptime(DateTime, "%Y-%m-%d %H", tz = "GMT"))) %>%
                 arrange(DateTime) %>%
                 mutate(zone_id=paste0('zone.',as.character(zone_id))) %>%
                 spread(zone_id, Consumption, fill = NA, convert = FALSE) %>% #Remove forecast, only need backcast
                 filter(DateTime<as.POSIXct(strptime("2008-06-01 00:00:00", "%Y-%m-%d %H:%M:%S")))

In [48]:
head(tidyEnsembleDf)

             DateTime   zone.1  zone.10  zone.11  zone.12  zone.13  zone.14
1 2005-03-06 00:00:00 19756.92 25033.55 108900.3 142251.6 21516.86 26596.22
2 2005-03-06 01:00:00 19190.48 24668.02 106021.7 136612.8 20446.99 25126.28
3 2005-03-06 02:00:00 19033.22 25671.85 105594.2 136727.5 20211.53 26064.60
4 2005-03-06 03:00:00 18264.17 22956.10 104902.8 135124.6 19725.97 25779.08
5 2005-03-06 04:00:00 19227.23 24503.00 106882.3 136965.7 20701.30 27536.21
6 2005-03-06 05:00:00 20499.55 28668.18 108535.3 139322.4 20121.19 27922.98
   zone.15  zone.16  zone.17 ⋯   zone.2  zone.20 zone.21   zone.3   zone.4
1 71789.48 36732.74 34992.33 ⋯ 162790.9 86742.35 1688940 175816.5 520.9085
2 69159.74 36428.81 34019.84 ⋯ 158995.9 84037.83 1646135 171222.2 491.7590
3 68773.71 37027.72 34523.33 ⋯ 157210.0 82865.14 1646848 169635.0 514.2643
4 67874.85 37549.98 34748.92 ⋯ 160523.2 83666.58 1652671 172211.9 512.0860
5 70572.93 39177.83 36322.90 ⋯ 162036.4 85877.83 1691484 173720.4 524.0947
6 70533.83 39917.93 37728.72 ⋯ 163818.2 83506.24 1715516 176265.8 524.5493
    zone.5   zone.6   zone.7   zone.8   zone.9
1 8531.424 170430.3 174995.4 3912.875 74119.89
2 8347.279 166499.3 170768.1 3780.929 74147.88
3 8559.307 164708.0 169445.4 3711.042 74223.96
4 8589.888 167755.1 171982.3 3760.741 74794.81
5 8836.855 169769.8 173911.4 3888.878 74706.91
6 9408.689 171226.2 175929.2 3853.284 72029.79

#### Merge ensemble prediction to raw load data, and add temperature data

In [49]:
fullDf = tidyLoadDf
fullDf[is.na(fullDf$zone.1), ] = tidyEnsembleDf[, names(fullDf)]

In [50]:
tempClasses = c('POSIXct', rep("numeric", 11))
tempDf = read.csv(tempRawFile, stringsAsFactors=FALSE, colClasses=tempClasses)
tempDf = tempDf %>% mutate(DateTime = DateTime - minutes(30))
completeDf = left_join(fullDf, tempDf, by="DateTime")
#Check if there is any not complete case
completeDf %>% filter(!complete.cases(.))

In [51]:
write.csv(completeDf, "GEFCom2012/complete.csv", row.names=FALSE)

In [52]:
head(completeDf)

             DateTime zone.1 zone.10 zone.11 zone.12 zone.13 zone.14 zone.15
1 2004-01-01 00:00:00  16853   23339   90700  118378   20673   21791   65970
2 2004-01-01 01:00:00  16450   22100   86699  112480   19666   21400   64600
3 2004-01-01 02:00:00  16517   21376   84243  108435   19020   20998   63843
4 2004-01-01 03:00:00  16873   21335   84285  107224   18841   21214   64023
5 2004-01-01 04:00:00  17064   21564   86087  108870   19310   21830   65679
6 2004-01-01 05:00:00  17727   22241   90210  112395   19415   21794   63305
  zone.16 zone.17 ⋯ T02 T03 T04 T05 T06 T07 T08 T09 T10 T11
1   28752   30645 ⋯  38  44  45  42  44  45  43  41  42  36
2   27851   30461 ⋯  36  42  43  42  43  44  44  39  43  32
3   27631   30197 ⋯  35  40  41  40  42  41  42  36  43  31
4   27986   30264 ⋯  30  36  37  39  38  40  34  35  39  30
5   29160   30907 ⋯  30  34  33  40  38  35  30  33  35  34
6   29226   31617 ⋯  29  32  32  41  37  35  35  36  35  35